.card {
  width: 60%;
  margin: 50px auto;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}
p {
  font-size: 12px;
}
.container-search {
  margin-bottom: 20px;
}
.today {
  font-size: 16px;
}
#current-city {
  font-weight: 600;
}
.container-currently {
  margin-bottom: 20px;
}
.big-sun-icon {
  font-size: 90px;
  color: #ffd900;
  padding-right: 0;
  text-align: right;
}
.units {
  position: relative;
  top: -10px;
  font-size: 12px;
}
#celsius,
#fahrenheit {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.right-icons {
  font-size: 20px;
}
.right-col {
  margin: 12px 0;
  padding: 0;
  text-align: left;
}
.days {
  margin: 25px 0;
  padding: 0;
}
.sun-icon {
  color: #ffd900;
  font-size: 30px;
}
.rain-icon {
  color: rgba(20, 61, 172, 0.733);
  font-size: 30px;
}
.cloud-icon {
  color: rgb(114, 101, 101);
  font-size: 30px;
}
.signature {
  font-size: small;
}
